name: Haskell Stack CI

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lts: ['lts-23.0', 'lts-23.7', 'lts-24.19']
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Upgrade Stack
        run: stack upgrade

      - name: Set up Stack with LTS Snapshot
        run: stack --resolver ${{ matrix.lts }} setup

      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.stack
          key: ${{ runner.os }}-stack-${{ matrix.lts }}-${{ hashFiles('stack.yaml', 'package.yaml', '**/*.cabal') }}
          restore-keys: |
            ${{ runner.os }}-stack-${{ matrix.lts }}-

      - name: Install Dependencies
        run: stack --resolver ${{ matrix.lts }} build --only-dependencies

      - name: Install hlint
        run: stack install hlint

      - name: Formatting
        run: hlint .

      - name: Build All Packages
        run: stack --resolver ${{ matrix.lts }} build --fast --haddock --test --bench --no-run-benchmarks
