name: Dependency Update Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '2 0 * * 4'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Stack
        run: |
          curl -sSL https://get.haskellstack.org/ | sh

      - name: Ensure latest Hpack
        run: |
          stack install hpack
        env:
          STACK_ROOT: ~/.stack

      - name: Build with latest nightly
        run: |
          stack --resolver nightly setup
          stack --resolver nightly build --test --no-run-benchmarks

      - name: Check outdated dependencies for all packages
        run: |
          cd simple-expr
          cabal outdated
          cd ..
          cd inf-backprop
          cabal outdated
          cd ..