name: Dependency Update Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '2 0 * * 4'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Upgrade Stack
        run: stack upgrade

      - name: Set up Stack with LTS Snapshot
        run: stack --resolver nightly setup

      - name: Install Dependencies
        run: stack --resolver nightly build --only-dependencies

      - name: Build All Packages
        run: stack --resolver nightly build --fast --test --no-run-benchmarks

      - name: Check outdated dependencies for all packages
        run: |
          cd simple-expr
          cabal outdated
          cd ..
          cd inf-backprop
          cabal outdated
          cd ..